:root {
  --primary-color: #ff0019;
  --bg-color: #06061c;
  --bg-card-color: #212134;
  --text-color: #777;
  --title-color: #FFF;
  --text-secundary: #8A8A8A;
  --link-color: #FFF;
  --button-color: #ff0019;
}


* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: var(--bg-color);
  background-image: url("../assets/bg01.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-blend-mode: lighten;
}

a {
  color: var(--link-color); 
  text-decoration: none; 
  transition: 0.3s;
}

a:hover {
  filter: brightness(.85);
}

input {
  outline: none;
}

#header {
  z-index: 100;
  display: flex;
  height: 88px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  /* background: #333333; */
}

#header-container {
  display: flex;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

#menu a {
  display: block;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

#header #header-container #logo {
  width: 40px;
}

#header #header-container #logo img {
  width: 100%;
}

#header #header-container #nav {
  display: flex;
  align-items: center;
}

#header #header-container #nav #menu .login {
  display: flex;
  cursor: pointer;
  padding: 6px 24px;
  border: 1px solid #FFF;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

#header #header-container #nav #menu .login:hover {
  filter: brightness(.6);
}

.card1 {
  display: flex;
  width: 100%;
  height: calc(100vh - 104px);
  padding: unset;
  flex-direction: row;
  justify-content: center;
  /* margin: 0 auto; */
  /* margin-top: 10.31rem; */
}

.position-contents {
  display: flex;
  /* width: 1120px; */
  /* margin: 0 auto; */
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title h1 {
  max-width: 60%;
  font-family: 'Open Sans';
  font-size: 2.5rem;
  color: #fff;
  line-height: 3.0rem;
  /* font-weight: 700; */
}
.subtitle {
  max-width: 430px;
  margin-top: 24px;
}
.subtitle p {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #9b9b9b;
  text-align: left;
  font-weight: 400;
}

.button-area {
  margin-top: 40px;
}

.button-access {
  cursor: pointer;
  width: 150px;
  height: 48px;
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #FFF;
  border: none;
  border-radius: 5px;
  background: #ff0019;
  transition: .3s;
}

.button-access:hover {
  filter: brightness(.95);
}

/*
  CARDS
*/

.cards {
  display: flex;
  width: 100%;
  padding: unset;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.area-cards {
  display: grid;
  width: 100%;
  max-width: 1120px;
  margin: 70px 16px;
  padding: unset;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 24px;
}

.cardItem1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.cardItem2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.cardItem3 {
  grid-column: 5/6;
  grid-row: 1/2;
}

.cardItem {
  display: flex;
  max-width: 300px;
  min-width: 200px;
  /* max-height: 300px; */
  min-height: 320px;
  padding: 24px;
  background: #212134;
  border-radius: 10px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardItem img {
  width: 72px;
}

.cardItem h2 {
  font-weight: 'Open Sans';
  font-size: 1.5rem;
  color: #FFF;
  text-align: center;
  padding: 1rem 0;
}

.cardItem p {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #8A8A8A;
  line-height: 20px;
}

.cardItem .button-cards {
  display: flex;
  width: 100%;
  height: 56px;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 600;
  margin-top: 24px;
  background: var(--primary-color);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

/*
  LIST FILM
*/

.list-film {
  display: flex;
  width: 100%;
  margin: 70px 0px;
  padding: unset;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.film-title {
  padding: 24px 24px;
}

.film-title h2 {
  font-size: 1.5rem;
  color: #FFF;
}

.position-list-film {
  display: grid;
  width: 1120px;
  /* margin: 70px 0px; */
  padding: 0px 16px;
  grid-template-columns: minmax(1fr, 220px);
  column-gap: .5rem;
  /* row-gap: 1rem; */
  overflow-x: none;
}

.film1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.film2 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.film3 {
  grid-column: 5/6;
  grid-row: 1/2;
}
.film4 {
  grid-column: 7/8;
  grid-row: 1/2;
}
.film5 {
  grid-column: 9/10;
  grid-row: 1/2;
}

.space-film {
  width: 0px;
  grid-column: 11/12;
  grid-row: 1/2;
}

.film {
  max-width: 220px;
  /* min-width: 200px; */
  min-height: 250px;
  margin-bottom: 16px;
  padding: 4px;
  /* background: rgb(23, 23, 39, 1); */
  background: #212134;
  border-radius: 10px;
}

.film .image-film {
  width: 100%;
  border-radius: 10px;
}

.contents-film {
  margin: 4px 4px;
}

.contents-film h2 {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #FFF;
}

.contents-film p {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #777;
  margin: 4px 0px 4px 0px;
}

.rate-film {
  display: flex;
  margin: 0px 0px 8px 0px;
  align-items: center;
}

.rate-film img {
  width: 16px;
  height: 16px;
}

.rate-film img + img {
  margin-left: 2px;
}

.rate-film h4 {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #777;
  padding: 0px 8px;
}

.plataforma-film {
  display: flex;
  width: 100%;
  padding: 0px 0px;
  background-color: #2f2f44;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.plataform-image {
  width: 60%;
  /* height: 36px; */
}


/*
  CARD 2
*/

.card2 {
  display: flex;
  width: 100%;
  padding: unset;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blur {
  display: none;
  position: absolute;
  width: 400px;
  height: 400px;
  background: #ff0019; /* ff0019 */
  border-radius: 500px;
  filter: blur(400px);
  -webkit-filter: blur(400px);
  opacity: .3;
  left: -200px;
}

.position-contents2 {
  display: grid;
  /* width: 800px; */
  margin: 70px 0px;
  /* justify-content: space-evenly; */
  grid-template-areas:
    "item1 item2"
    "item1 item2"
  ;
  column-gap: 1.5rem;
}

.item1 {
  z-index: 5;
  max-width: 220px;
  min-width: 200px;
  min-height: 250px;
  padding: 4px;
  /* background: rgb(23, 23, 39, 1); */
  background: #212134;
  border-radius: 10px;

  grid-area: item1;
}

.item2 {
  z-index: 5;
  max-width: 220px;
  min-width: 200px;
  min-height: 250px;
  padding: 4px;
  /* background: rgb(23, 23, 39, 1); */
  background: #212134;
  border-radius: 10px;

  grid-area: item2;
}

.item1 img {
  width: 100%;
  border-radius: 10px;
}

.item2 img {
  width: 100%;
  border-radius: 10px;
}

.contents-texts {
  margin: 4px 4px;
}

.item1 h2 {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #FFF;
  /* margin-top: 4px; */
}

.item2 h2 {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #FFF;
  /* margin-top: 4px; */
}

.item1 p {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #777;
  margin: 4px 0px 4px 0px;
}

.item2 p {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #777;
  margin: 4px 0px 4px 0px;
}

.plataforma {
  display: flex;
  width: 100%;
  padding: 4px 0px;
  background-color: #2f2f44;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.plataform-image {
  width: 70%;
  height: 40px;
}

.rate {
  display: flex;
  margin: 0px 0px 8px 0px;
  align-items: center;
}

.rate img {
  width: 16px;
  height: 16px;
}

.rate img + img {
  margin-left: 2px;
}

.rate h4 {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #777;
  padding: 0px 8px;
}

.card3 {
  display: flex;
  width: 100%;
  padding: unset;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.position-video {
  display: flex;
  max-width: 98%;
  margin: 50px 0px;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 560px;
  height: 315px;
  background: #171727;
  border-radius: 10px;
}

.subcard-video {
  display: flex;
  width: 100%;
  margin-top: 8px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.subcard {
  display: flex;
  width: 100%;
  height: 64px;
  /* background: #171727; */
  background: #212134;
  padding: 0px 16px;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
}

.subcard + .subcard {
  margin-left: 8px;
}

.subcard img {
  width: 24px;
  height: 24px;
}

.subcard h3 {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #777;
  font-weight: 400;
  padding: 0px 16px;
}

.card4 {
  display: flex;
  width: 100%;
  /* height: calc(100vh - 88px); */
  margin: 80px 0px;
  padding: unset;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card4 h2 {
  font-family: 'Open Sans';
  font-size: 3.5rem;
  color: #ff0019;
}

.card4 .faq-list {
  max-width: 800px;
  margin: 2em auto;
  list-style-type: none;
}

.position-faq-list {
  position: relative;
  list-style-type: none;
  margin: 0 0 8px 0;
}


/* ACCORDION */

.accordion {
  cursor: pointer;
  width: 100%;
  height: 64px;
  font-family: 'Open Sans';
  font-size: 1.125rem;
  color: #777;
  font-weight: 400;
  text-align: left;
  padding: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  /* background-color: #171727; */
  background: #212134;
  transition: 0.4s;
}

.active {
  /* border-radius: 10px; */
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.accordion:hover {
  background-color: #212134;
  filter: brightness(.8);
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  margin: 0px 0px 16px 0px;
  padding: 0 18px;
  background-color: #212134;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  border-top: 1px solid #06061c;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panel p {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #9b9b9b;
  font-weight: 400;
  line-height: 20px;
  padding: 1.2rem 0px;
}


/*
  FOOTER
*/

#footer {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  /* background: darkgoldenrod; */
  /* height: 8vh; */
  /* grid-area: footer; */
}

.contents-footer {
  width: 75%;
  height: 15rem;
  flex-direction: column;
}

.nav-footer {
  display: flex;
  width: 100%;
  margin: unset;
  flex-direction: row;
  justify-content: space-evenly;
  grid-template-columns: unset;
  align-items: flex-start;
}

.nav-footer ul {
  list-style: none;
}

.nav-footer ul span {
  font-family: 'Open Sans';
  font-size: 17px;
  color: #e1e6e3;
  font-weight: 600;
  line-height: 36px;
}

.nav-footer ul li {
  display: flex;
}

.nav-footer ul li a {
  font-family: 'Open Sans';
  font-size: 17px;
  color: #777;
  font-weight: normal;
  line-height: 36px;
}

.finish-footer {
  padding: 24px 0px;
  justify-content: center;
  align-items: center;
}

.finish-footer h5 {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #ff0019;
  font-weight: normal;
  text-align: center;
}

/*
  FORM
*/

form {
  display: flex;
  width: 340px;
  margin: 0 auto;
  /* padding: 10px; */
  /* background: #777; */
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  width: 100%;
  height: 56px;
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #777;
  font-weight: 400;
  padding: 0px 16px;
  border: none;
  border-radius: 10px;
  background: #14142b;
  outline: none;
}

form input + input {
  margin-top: 16px;
}

form input:focus {
  /* border: 2px solid #ff0019; */
  border: 2px solid #0059ff;
  border-radius: 10px;
  background: #14142b;
}

.isError {
  border: 2px solid #ff6f00;
  border-radius: 10px;
  background: #14142b;
}

form a {
  font-family: 'Open Sans';
  font-family: 1rem;
  color: #ff0019;
  font-weight: 600;
  margin-top: 8px;

  opacity: 0.8;
  transition: opacity 0.2s ease 0s;
  align-self: flex-start;
}

form button {
  cursor: pointer;
  width: 100%;
  height: 56px;
  font-family: 'Open Sans';
  font-size: 1.125rem;
  color: #FFF;
  font-weight: 600;
  margin-top: 32px;
  border: none;
  background: #ff0019;
  border-radius: 10px;
  transition: .3s;
}

form button:hover {
  filter: brightness(.85);
}