body {
  background-image: none;
}

h1 {
  color: #FFF;
}

#profile-header {
  display: flex;
  max-width: 1120px;
  height: 88px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

#container-header {
  display: flex;
  width: 1120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.goback a {
  color: #FFF;
  padding: 0px 16px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user h3 {
  color: #FFF;
}

.user .signout-btn {
  cursor: pointer;
  width: 72px;
  height: 32px;
  border: none;
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #FFF;
  margin: 0px 1rem;
  background: red;
  border-radius: 4px;
}

#profile-header .signout-btn:hover {
  filter: brightness(.85);
}



.container-profile {
  display: flex;
  width: 100%;
  padding: unset;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 980px;
  width: 100%;
  justify-content: center;
}

.content h1 {
  margin: 16px 0px;
}

.content ul {
  list-style: none;
}

.content ul li {
  display: flex;
  color: #FFF;
  padding: 16px 24px;
  /* background: #67676b; */
  background: #272735;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content ul li + li {
  margin-top: 8px;
}

.content ul li h4 {
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: 400;
}

.content ul li a {
  font-family: 'Open Sans';
  font-size: 1rem;
  color: #ff0019;
  font-weight: 400;
}

.content ul li .expires {
  color: orange;
}

.content ul li .copy-button {
  cursor: pointer;
  border: none;
  background: none;
}

.content ul li .copy-button i {
  font-size: 1.125rem;
  color: #FFF;
}

.content ul li .copy-button:hover {
  filter: brightness(.7);
}

/*
  STYLE RESPONSIVE
*/

@media (max-width: 768px) {
  .container-profile {
    display: flex;
    width: 100%;
    padding: unset;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    max-width: 400px;
    width: 100%;
    /* justify-content: center; */
  }
  
  .content h1 {
    margin: 16px 0px;
  }

  .content ul li {
    display: grid;
    width: 100%;
    padding: 16px 24px;
    /* background: #67676b; */
    background: #272735;
    border-radius: 10px;
    column-gap: 2px;
    row-gap: 4px;
  }

  .content ul li h4 {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    /* background-color: lightgreen; */
    grid-column: 1/2;
  }
  
  .content ul li a {
    font-family: 'Open Sans';
    font-size: 1rem;
    color: #ff0019;
    font-weight: 400;
    /* background-color: lightpink; */
    grid-column: 1/4;
    grid-row: 5/6;
  }

  .content ul li .received {
    font-family: 'Open Sans';
    font-size: 1rem;
    text-align: right;
    font-weight: 400;
    /* background-color: lightsalmon; */
    grid-column: 3/4;
    /* grid-row: 1/2; */
  }
  
  .content ul li .expires {
    font-family: 'Open Sans';
    color: orange;
    text-align: right;
    font-weight: 400;
    /* background-color: lightseagreen; */
    grid-column: 3/4;
    grid-row: 3/4;
  }
  
  .content ul li .copy-button {
    cursor: pointer;
    text-align: right;
    border: none;
    background: none;
    /* background-color: lightyellow; */
    grid-column: 3/4;
    grid-row: 5/6;
  }
  
  .content ul li .copy-button:hover {
    filter: brightness(.6);
  }
  
  .content ul li .copy-button img {
    width: 20px;
    height: 20px;
  }

}